@use "@/app/styles/mixin/mixin" as *;

.sectionBanner {
  position: relative;
  &::before {
    @include bannerMixin;
    left: 0;
  }

  &::after {
    @include bannerMixin;
    right: 0px;
    transform: rotate(180deg);
  }

  .container {
    padding-inline: var(--space-md);
  }
}
