.swiperWrapper {
  position: relative;

  .bannerSwiper {
    border-radius: var(--rounded-sm);
    margin-bottom: var(--space-xs);
  }

  .swiperItem {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // .imgBlock {
    //   display: flex;
    //   height: 100%;
    //   width: 100%;

    //   img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //   }
    // }

    .infoBlock {
      position: absolute;
      bottom: var(--space-sm);
      left: var(--space-sm);
      padding: var(--space-xs);

      @media (max-width: 768px) {
        bottom: 5px;
        left: 5px;
      }

      .title,
      .subTitle {
        color: var(--color-wite);
        text-shadow: 0px 0px 2px var(--color-black);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .title {
        -webkit-line-clamp: 1;
      }

      .subTitle {
        -webkit-line-clamp: 2;
      }
    }
  }

  .thumbSwiper {
    .swiperItem {
      border-radius: var(--rounded-xs);
      overflow: hidden;

      .infoBlock {
        display: none;
      }
    }
  }
}
