:root {
  --font-nunito: "Nunito", sans-serif;
  --header-height: 90px;

  --color-wite: #fff;
  --color-gray: #f9f9f9;
  --color-blue: #041c3a;
  --color-black: #000;
  --color-border: #eee;
  --color-border-dark: #143b6c;

  --transition: all 200ms ease-in-out;

  --space-xs: 10px;
  --space-sm: 20px;
  --space-md: 30px;
  --space-lg: 40px;

  --rounded-xs: 5px;
  --rounded-sm: 10px;
  --rounded-md: 15px;
  --rounded-lg: 20px;

  --z-index-xs: 10;
  --z-index-sm: 20;
  --z-index-md: 30;
  --z-index-lg: 40;
}
